@import "tailwindcss";

:root {
  --brand-green: #00856f;
  --brand-green-light: #dce9e2;
  --brand-green-light-02: #f7f9f9;
  --brand-beige: #fffaf1;
  --brand-green-hover: #00453a;

  --gray-headline: #061800;
  --gray-paragraph: #384633;
  --white: #3e3e3e;
  --gray-footer: #2a2a2a;

  --font-sans: "Onest", sans-serif;
  --font-serif: "DM Sans", sans-serif;

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;

  --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;

  --section-spacing: 4rem;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-md);
  font-weight: var(--font-normal);
  color: var(--gray-paragraph);
}

h1 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-bold);
  color: var(--gray-headline);
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-semibold);
  color: var(--gray-headline);
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-medium);
  color: var(--gray-headline);
}

p {
  font-size: var(--font-size-md);
  font-weight: var(--font-normal);
  color: var(--gray-paragraph);
}

a,
link {
  font-size: var(--font-size-md);
  font-weight: var(--font-medium);
  color: var(--brand-green);
  text-decoration: none;
}

a:hover,
link:hover {
  color: var(--brand-green-hover);
  text-decoration: none;
}

.main-container {
  @apply pt-(--section-spacing) mb-(--section-spacing);
}

@media (max-width: var(--screen-md)) {
  body {
    font-size: var(--font-size-sm);
  }
}

@media (min-width: var(--screen-md)) {
  body {
    font-size: var(--font-size-md);
  }
}

@media (min-width: var(--screen-lg)) {
  body {
    font-size: var(--font-size-lg);
  }
}
